<form action="" class="form_todo" [formGroup]="formTodo">
  <mat-form-field>
    <mat-label>текст задачи</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>автор задачи</mat-label>
    <input matInput formControlName="userId" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>задача завершена?</mat-label>
    <input matInput formControlName="completed" />
  </mat-form-field>
  <button
    matFab
    extended
    type="submit"
    (click)="submintTodoForm()"
    [disabled]="formTodo.invalid"
    class="form_todo__btn"
  >
    <mat-icon>add</mat-icon>
    ДОБАВИТЬ ЗАДАЧУ
  </button>
</form>
