<form class="form_todo" [formGroup]="formTodoDialog">
  <mat-form-field appearance="outline">
    <mat-label>ТЕКСТ ЗАДАЧИ</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>АВТОР ЗАДАЧИ</mat-label>
    <input matInput formControlName="userId" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>ЗАДАЧА ЗАВЕРШЕНА</mat-label>
    <input matInput formControlName="completed" />
  </mat-form-field>
  <mat-card-actions>
    <button
      mat-stroked-button
      class="form_todo__btn"
      [mat-dialog-close]="todoResult"
      [disabled]="formTodoDialog.invalid"
    >
      <mat-icon>add</mat-icon>
      create todo
    </button>
  </mat-card-actions>
</form>
