.form_todo {
  max-width: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  // &__btn {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 15px;
  //   padding: 15px;
  // }
}
