<mat-card style="width: 400px">
  <mat-card-header>
    <mat-card-title>
      <p>{{ user.name }}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ user.address.city }}</p>
    <p>{{ user.company.name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.website }}</p>
    <p> {{ user.phone }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-stroked-button (click)="openDialogEditUser()">
      Редактировать<br />пользователя
    </button>
    <button mat-fab extended (click)="openDialogDeleteUser()">
      Удалить<br />пользователя
    </button>
  </mat-card-actions>
</mat-card>
