<mat-card style="width: 400px">
  <mat-card-header>
    <mat-card-title>
      <p>{{ user.name }}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ user.address.city }}</p>
    <p>{{ user.company.name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.website }}</p>
    <p>{{ user.phone | DeleteHypnenPipe }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button class="card-btn" mat-stroked-button (click)="openDialogEditUser()">
      Редактировать пользователя
    </button>
    <button class="card-btn" mat-fab extended (click)="openDialogDeleteUser()">
      Удалить пользователя
    </button>
  </mat-card-actions>
</mat-card>