<mat-card shadow style="width: 320px">
  <mat-card-header>
    <mat-card-title>
      <p>{{ user.name }}</p>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ user.address.city }}</p>
    <p>{{ user.company.name }}</p>
    <p>{{ user.email }}</p>
    <p>{{ user.website }}</p>
    <p>{{ user.phone | RemoveHyphenPipe }}</p>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button class="card-btn card-btn-edit" mat-stroked-button matTooltip="Редактировать данные пользователя" (click)="openDialogEditUser()">
      Редактировать
    </button>
    <button class="card-btn" mat-fab extended (click)="openDialogDeleteUser()">
      Удалить пользователя
    </button>
  </mat-card-actions>
</mat-card>