    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #3C3C3B;
    }

    .user-list__company-name {
        font-weight: 600;
        font-size: 18px;
        line-height: 34px;
        color: #3C3C3B;
    }

    a {
        display: block;
        text-decoration: underline;
        transition: all 0.3s ease;
        margin-bottom: 16px;
    }

    a:hover {
        text-decoration: underline;
        color: #7fbeec;
    }

    .user-list__btn {
        display: block;
        max-width: 135px;
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #F0BA4E;
        border-radius: 54px;
        background-color: inherit;
        cursor: pointer;
        font-weight: 500;
        font-size: 12px;
        line-height: 19px;
        color: #3C3C3B;
        margin-left: auto;
        margin-right: auto;
    }