.todos-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    &__item {
        width: 250px;
        min-height: 300px;
        padding: 15px;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #3C3C3B;
        background-color: white;
    }
}